@import url("https://fonts.googleapis.com/css2?family=Mynerve&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/OpenSansCondensed-Light.ttf') format('truetype'),
  url('../fonts/OpenSansCondensed-Light.woff') format('woff');
  font-weight: normal;
}
/* Обнулення CSS стилів */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Header */

.header {
  width: 100%;
  background-color: #dcdcdc;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

.container .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block .header__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 65px auto 65px 0;
}

.block .header__contacts {
  margin: 39px 0 75px auto;
}

.header__companyName {
  margin-left: 10px;
  font-family: 'PT Sans', sans-serif;
  line-height: 22px;
  color: #777777;
}

.header__name__h {
  font-weight: bold;
  font-size: 31px;
  line-height: 22px;
}

.header__name__p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 13px;
  padding: 0;
}

.header__contacts {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  text-align: right;
  color: #777777;
}

.header__contacts__telephone {
  color: #777777;
  line-height: 46px;
}

.header__contacts__button {
  display: flex;
  font-family: 'PT Sans', sans-serif;
  color: #777777;
  font-size: 24px;
  font-weight: 700;
  margin-left: auto;
  background-color: #dcdcdc;
  border: 0;
  border-bottom: 2px dashed #777777;
  padding: 0;
  height: 30px;
}

/* Menu */

menu {
  width: 100%;
  background: #777777;
}

.menu__container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

.navbar-toggle {
  cursor: pointer;
  display: none;
}

.navbar-toggle-icon {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  margin: 25px auto;
}

.navbar-menu a {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  color: #c9c9c9
}

/* Адаптив */

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .menu__container {
    max-width: 768px;
  }
  .navbar-menu a{
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 667px;
  }

  .menu__container {
    max-width: 667px;
  }

  .block .header__name {
    margin: 49px auto 49px 0;
  }

  .block .header__contacts {
    margin: 29px 0 56px auto;
  }

  .header__logo img {
    width: 75px;
    height: 75px;
  }

  .header__name__h {
    font-size: 23px;
    line-height: 17px;
  }

  .header__name__p {
    font-size: 12px;
    line-height: 17px;
    margin-top: 10px;
  }

  .header__contacts {
    font-size: 30px;
    line-height: 34px;
  }

  .header__contacts__telephone {
    color: #777777;
    line-height: 35px;
  }

  .header__contacts__button {
    font-size: 18px;
    border-bottom: 2px dashed #777777;
    height: 23px;
  }
  .navbar-menu a{
    font-size: 20px;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 467px;
    margin: 0 auto;
    position: relative;
  }

  .container .block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    height: auto;
  }

  .block .header__name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0;
  }

  .header__logo img {
    width: 75px;
    height: 75px;
  }

  .block .header__name {
    margin: 0 0 auto 0;
  }

  .block .header__contacts {
    margin: auto 0 0 0;
  }

  .header__name {
    padding: 5px;
    align-items: center;
  }

  .header__companyName {
    padding: 0;
    margin: 0 0 0 10px;
  }

  .header__name__h {
    font-size: 23px;
    line-height: 17px;
  }

  .header__name__p {
    font-size: 12px;
    line-height: 17px;
    margin-top: 10px;
  }

  .header__contacts {
    font-size: 30px;
    line-height: 34px;
    padding: 5px;
    align-items: center;
  }

  .header__contacts__telephone {
    color: #777777;
    line-height: 33px;
  }

  .header__contacts__button {
    font-size: 18px;
    border-bottom: 2px dashed #777777;
    height: 23px;
    margin: 0 auto;
  }
  menu {
    position: absolute;
  }
  .menu__container {
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 467px;
    margin: 0 auto;
  }
  .navbar-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    background: #888888;
  }

  .navbar-menu li {
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block;
    align-items: center;
    margin: 0;
  }
}
