@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/OpenSansCondensed-Light.ttf') format('truetype'),
  url('../fonts/OpenSansCondensed-Light.woff') format('woff'),
  url('../fonts/OpenSansCondensed-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Regular.ttf') format('truetype'),
  url('../fonts/PTSans-Regular.woff') format('woff'),
  url('../fonts/PTSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

/* Обнулення CSS стилів */

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
.website {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */

.header {
  width: 100%;
  background-color: #dcdcdc;
  z-index: 1020;
}
.header__container {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
}
.header__container .header__company {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 65px auto 65px 0;
}
.header__container .header__contacts {
 margin: 36px 0 68px auto;
}
.header__company-name {
  margin-left: 12px;
  font-family: 'PT Sans', sans-serif;
  line-height: 22px;
  color: #777777;
}
.header__company-name-h {
  font-weight: bold;
  font-size: 32px;
}
.header__company-name-p {
  font-size: 16px;
  margin-top: 16px;
}
.header__contacts {
  text-align: right;
}
.header__contacts-item .header__contacts-telephone {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  line-height: 46px;
  color: #777777;
}
.header__contacts .header__contacts-item #header__contacts-feedback {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  color: #777777;
  border-bottom: 2px dashed #777777;
}

/* Menu */

.menu {
  width: 100%;
  background: #777777;
  z-index: 1020;
}
.menu__container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.menu__list .menu__list-item {
  position: relative;
  margin: 25px auto;
  padding: 0 20px 0 20px;
}
.menu__list .menu__list-item a {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  color: #c9c9c9
}
.menu__list .menu__list-item::after {
  position: absolute;
  content: "|";
  font-size: 30px;
  color: #c9c9c9;
  bottom: 3px;
  right: -10px;
}
.menu__list .menu__list-item:last-child::after {
  content: "";
}
.menu__list .menu__list-item a:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.menu__list .menu__list-item:first-child {
  margin-left: 0;
}
.menu__list .menu__list-item:last-child {
  margin-right: 0;
}

/* Slider */

.slider {
  margin: -3% auto 0 auto;
  width: 100%;
  z-index: 1015;
  height: auto;
}

.slider__container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f8f8f8;
}
.slider__item img {
  max-width: 100%;
  max-height: 100%;
}
.slider__item {
  text-align: center;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  overflow: hidden;
}
.slick-arrow {
  position: absolute;
  margin-top: -30px;
  width: 35px;
  height: 60px;
  z-index: 1015;
  top: 55%;
  font-size: 0;
}
.slick-prev {
  left: 29%;
  background: url('../img/slider/arrows/slider__arrows__left.jpg') 0 0/ 100% no-repeat;
}
.slick-next {
  right: 30%;
  background: url('../img/slider/arrows/slider__arrows__right.jpg') 0 0 / 100% no-repeat;
}

/* Content */

.content {
  width: 100%;
  margin: 0 auto 200px auto;
}
.content__container {
  max-width: 980px;
  margin: 5px auto 0 auto;
  padding: 0 10px;
}
.content__way {
  display: flex;
  flex-direction: row;
}
.content__way .content__way-item {
  position: relative;
  padding: 0 20px 0 0;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  line-height: 18px;
  text-align: left;
  text-decoration: underline #767676;
}
.content__way .content__way-link {
  color: #767676;
}
.content__way .content__way-item::after {
  position: absolute;
  color: #767676;
  content: "/";
  right: 9px;
}
.content__way .content__way-item:last-child::after {
  content: "";
}
.content__way .content__way-item:last-child {
  text-decoration: none;
}
.content__block {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}
.content__category {
  display: flex;
  width: 171px;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin-right: auto;
}
.content__category ul li {
  list-style: inside;
  list-style-type: disc;
  list-style-position: outside;
}
.content__category ul {
  margin-left: 25px;
}
.content__category .content__category-link {
  color: #767676;
}
.content__category .content__category-item .content__category-link:hover {
  text-decoration: underline black;
  color: black;
  font-weight: bold;
}
.content__category .content__category-title:hover {
  text-decoration: underline;
}
.content__category-auto-list,
.content__category-happliances-list,
.content__category-mobile-list,
.content__category-pc-list,
.content__category-house-list,
.content__category-clothes-list {
  display: none;
}
.content__category-auto-list.active,
.content__category-happliances-list.active,
.content__category-mobile-list.active,
.content__category-pc-list.active,
.content__category-house-list.active,
.content__category-clothes-list.active {
  display: block;
  font-size: 14px;
  line-height: 22px;
}
.content__excel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60% auto 0 auto;
}
.content__excel .content__excel-title {
  font-size: 29px;
  font-weight: bold;
  color: black;
}
.content__goods {
  width: 785px;
}
.content__goods__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
}
.content__goods-item {
  display: block;
  width: 250px;
  height: 380px;
  background-color: #dcdcdc;
  font-family: "PT Sans", sans-serif;
  margin: 0 0 10px 10px;
}
.content__goods-item-info{
  margin: 20px;
}
.content__goods-item-info .content__goods-item-image {
  margin-bottom: 20px;
}
.content__goods-item .content__goods-item-link {
  text-align: left;
  font-size: 18px;
  color: #767676;
}
.content__goods-item-buyinfo {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  line-height: 22px;
  font-weight: bold;
  margin: 55px 20px 20px 20px;
}
.content__goods-item-buyinfo .content__goods-item-add-to-basket{
  margin: 0 15px 0 auto;
}
.content__goods-numberlist {
  display: flex;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  margin: 32px 0 67px 10px;
  justify-content: center;
  align-items: flex-end;
}
.content__goods-numberlist .content__goods-numberlist-item {
  margin: 0 10px;
}
.content__goods-numberlist .content__goods-numberlist-link {
  color: #767676;
}
.content__goods-numberlist-item--selected .content__goods-numberlist-link {
  font-size: 18px;
  color: black;
}
.content__goods-info {
  display: flex;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  font-family: "PT Sans", sans-serif;
  color: #767676;
  border-top: 1px solid #767676;
}
.content__goods-info-1 {
  margin-right: 40px;
  margin-top: 29px;
}
.content__goods-info-2 {
  margin-top: 29px;
}

/* Footer */

.footer {
  width: 100%;
  height: 220px;
  background-color: #777777;
  margin-top: auto;
}
.footer__container {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0 auto;
  padding: 0 10px;
  font-size: 14px;
  line-height: 22px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
}
.footer__container .footer__link {
  color: #ffffff;
}
.footer__menu .footer__menu-item .footer__link{
  line-height: 26px;
  text-decoration: underline;
}
.footer__company {
  display: flex;
  text-align: left;
}
.footer__company .footer__text {
  margin: -4px 0 0 9px;
}

/* Feedback */

#feedback {
  display: none;
  position: fixed;
  z-index: 1500;
  margin: 0 auto;
  overflow: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.feedback__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 466px;
  height: 578px;
  background-color: white;
  font-family: "PT Sans", sans-serif;
}
.feedback__container .feedback__title {
  text-transform: uppercase;
  color: #535353;
  font-size: 24px;
  font-weight: bold;
  margin: 32px 0 28px 0;
}
.feedback__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__input label {
  font-size: 14px;
  color: #535353;
}
.feedback__input input {
  border: 1px solid #c3c3c3;
  width: 339px;
  height: 40px;
  padding: 13px 10px;
  margin: 9px 0 18px 0;
  font-size: 14px;
  color: #535353;
}
.feedback__input .feedback__input-field--massage {
  border: 1px solid #c3c3c3;
  padding: 13px 10px;
  width: 339px;
  height: 140px;
  margin: 9px 0 0 0;
  text-align: left;
  resize: none;
}
.feedback__input input::placeholder {
  font-style: italic;
}
.feedback__input input:required {
  border: 1px solid red;
  box-shadow: inset 0 0 6px red;
}
.feedback__input input:required:focus {
  box-shadow: inset 0 0 6px white;
  border: 1px solid #c3c3c3;
}
.feedback__input .feedback__submit-info {
  height: 42px;
  width: 128px;
  margin: 22px 0 26px 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  color: white;
  background-color: #777777;
  border: 0;
  cursor: pointer;
}
#feedback .feedback__close-btn {
  display: flex;
  position: absolute;
  top: -27px;
  right: -27px;
  justify-content: center;
  text-align: center;
  width: 27px;
  height: 27px;
  align-items: center;
  background-color: #767676;
  z-index: 1510;
}
#feedback .feedback__close-btn span {
  color: white;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 150%;
}
#feedback.show {
  display: flex;
  opacity: 1;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 0.3s ease-out;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 0.3s ease-out;
}

/* Media */

/* Slider Arrow */

@media (max-width: 1920px) {
  .slider {
    margin: -80px auto 0 auto;
  }
  .slick-prev {
    left: 25%
  }
  .slick-next {
    right: 26%;
  }
}
@media (max-width: 1680px) {
  .slick-prev {
    left: 21%;
  }
  .slick-next {
    right: 22%;
  }
}
@media (max-width: 1440px) {
  .slick-prev {
    left: 16%;
  }
  .slick-next {
    right: 17%;
  }
}
@media (max-width: 1248px) {
  .slider {
    margin-top: -6%;
  }
  .slick-prev {
    left: 12%;
  }
  .slick-next {
    right: 13%;
  }
}
@media (max-width: 1024px) {
  .slick-prev {
    left: 11%;
  }
  .slick-next {
    right: 12%;
  }
  .slick-arrow {
    width: 30px;
    height: 55px;
  }
}

/* Total website */

@media (max-width: 992px) {
  .header__container {
    max-width: 768px;
  }
  .menu__container {
    max-width: 768px;
  }
  .menu__list .menu__list-item a {
    font-size: 22px;
  }
  .menu__list .menu__list-item {
    margin: 18px auto;
    padding: 0 14px 0 12px;
  }
  .menu__list .menu__list-item::after {
    position: absolute;
    content: "|";
    font-size: 22px;
    color: #c9c9c9;
    bottom: 2px;
    right: -10px;
  }
  .slick-arrow {
    width: 26px;
    height: 49px;
  }
  .content__container {
    max-width: 768px;
  }
  .content__goods {
    width: 600px;
  }
  .content__goods__container {
    justify-content: center;
  }
  .content__goods__container {
    justify-content: center;
  }
  .footer__container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .header__container {
    max-width: 667px;
  }
  .header__container .header__company {
    margin: 49px auto 49px 0;
  }
  .header__container .header__contacts {
    margin: 27px 0 51px auto;
  }
  .header__company-logo img {
    width: 75px;
    height: 75px;
  }
  .header__company-name {
    margin-left: 9px;
    line-height: 16px;
  }
  .header__company-name-h {
    font-size: 24px;
    line-height: 16px;
  }
  .header__company-name-p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 12px;
  }
  .header__contacts-item .header__contacts-telephone {
    font-size: 30px;
    line-height: 34px;
  }
  .header__contacts .header__contacts-item #header__contacts-feedback {
    font-size: 18px;
    line-height: 26px;
  }
  .menu__container {
    max-width: 667px;
  }
  .menu__list .menu__list-item a {
    font-size: 19px;
  }
  .menu__list .menu__list-item {
    margin: 14px auto;
    padding: 0 12px 0 14px;
  }
  .menu__list .menu__list-item::after {
    position: absolute;
    content: "|";
    font-size: 19px;
    color: #c9c9c9;
    bottom: 1px;
    right: -8px;
  }
  .slick-arrow {
    width: 22px;
    height: 45px;
  }
  .content__container {
    max-width: 667px;
  }
  .content__goods {
    width: 500px;
  }
  .content__goods__container {
    align-items: center;
  }
  .content__goods-info {
    flex-direction: column;
  }
  .content__goods-info-1 {
    margin-bottom: 11px;
    margin-right: 0;
  }
  .footer__container {
    max-width: 667px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer__menu a{
    line-height: 20px;
  }
}
@media (max-width: 667px) {
  .header__container {
    max-width: 467px;
    margin: 0 auto;
    padding: 10px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__container .header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .header__company-logo img {
    width: 75px;
    height: 75px;
  }
  .header__container .header__company {
    margin: 0 0 auto 0;
  }
  .header__container .header__contacts {
    margin: auto 0 0 0;
  }
  .header__company {
    padding: 5px;
    align-items: center;
  }
  .header__company-name {
    margin: 0 0 0 9px;
    padding: 0;
  }
  .header__company-name-h {
    font-size: 24px;
    line-height: 16px;
  }
  .header__company-name-p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 12px;
  }
  .header__contacts {
    text-align: center;
  }
  .header__contacts-item .header__contacts-telephone {
    font-size: 30px;
    line-height: 34px;
    padding: 5px;
    align-items: center;
  }
  .header__contacts .header__contacts-item #header__contacts-feedback {
    font-size: 18px;
    line-height: 26px;
  }
  .menu__container {
    max-width: 100%;
    padding: 0 10px;
    display: flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
  }
  .menu__list {
    display: none;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 10px;
    margin: 0;
  }
  .menu__toggle {
    display: block;
    position: relative;
    margin: 20px;
  }
  .menu__toggle__icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
  }
  .menu__toggle::after, .menu__toggle::before {
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 0;
  }
  .menu__toggle::before {
    top: 8px;
  }
  .menu__toggle::after {
    bottom: 8px;
  }
   .menu__list .menu__list-item {
    margin: 10px 0;
  }
  .menu__list.active {
    display: flex;
    flex-direction: column;
    background: #888888;
    z-index: 1050;
  }
  .menu__toggle_icon.active {
    display: block;
    margin: 20px auto;
  }
  .menu__toggle.active::after {
    transform:rotate(-45deg);
    bottom: 0;
  }
  .menu__toggle.active::before{
    transform:rotate(45deg);
    top: 0;
  }
  .menu__toggle.active .menu__toggle__icon {
    transform: scale(0);
  }
  .menu__list .menu__list-item a:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
  }
  .menu__list .menu__list-item::after {
    content: "";
  }
  .content__container {
    max-width: 467px;
  }
  .content__goods {
    width: 280px;
  }
  .footer__container {
    max-width: 467px;
    flex-direction: column-reverse;

    align-items: center;
    margin: 12px auto;
  }
  .footer__menu {
    margin: -5px 0 10px 0;
    text-align: center;
  }
  #feedback .feedback__close-btn {
    right: 15px;
    top: 15px;
  }
  .feedback__container {
    width: 100%;
    height: 100%;
  }
}

/* Content */

@media (max-width: 480px){
  .content__block {
    flex-direction: column;
    align-items: center;
  }
  .content__excel {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .content__category {
    margin-right: 0;
  }
  .content__goods {
    margin-left: 0;
  }
}

/* Slider Arrows and Feedback */

@media (max-width: 425px) {
  .slick-prev {
    left: 10%;
  }
  .slick-next {
    right: 12%;
  }
  .feedback__input input {
    width: 300px;
    height: 40px;
  }
  .feedback__input #feedback__massage {
    width: 300px;
  }
}

